body {
	margin: 0 auto;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.hero {
   background-color: #1F2937;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 80px;
	margin-bottom: 40px;
}

.header{
	display: flex;
   justify-content: space-around;
	padding-bottom: 80px;
}

.main-text {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
}

.secondary-text,
.links {
   font-size: 18px;
	color: #E5E7EB;
}

.logo {
	font-size: 24px;
	font-weight: 700;
	color: #F9FAF8;
}

.links {
   display: flex;
	gap: 25px;
}

.hero-button {
	background-color: #3882F6;
	color: white;
	padding: 8px 16px;
	width: 125px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
}

.hero-content {
	display: flex;
	gap: 25px;
	justify-content: space-around;
}

img {
	width: 520px;
	height: 250px;
	
	/* max-width: 100%;
	max-height: 100%; */
} 

.hero-text {
	/* display: flex;
	flex-flow: column wrap; */
	width: 400px;
}

.secondary-text {
	display: flex;
	flex-wrap: wrap;
}

.info-sect {
	padding-bottom: 80px;
	margin-bottom: 40px;
}

.information {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
	text-align: center;
	margin-bottom: 40px;
}

.boxes {
	display: flex;
	justify-content: center;
	gap: 45px;
}

.box {
	width: 200px;
	height: 200px;
	border: 5px solid #3882F6;
	border-radius: 20px;
}

.group {
	max-width: 200px;
   display: flex;
   flex-wrap: wrap;
	text-align: center;
	gap: 15px;
	font-size: 20px;
}

.quote-sect {
	background-color: #E5E7EB;
	display: flex;
	height: 400px;
	justify-content: center;
	align-items: center;
}

.quote-container {
	display: flex;
	flex-direction: column;
	max-width: 40%;
}

.quote {
	font-size: 36px;
	font-style: italic;
	color: #1F2937;
}

.author {
	font-size: 24px;
	font-weight: 700;
	align-self: flex-end;
}

.signUp-sect {
	display: flex;
	height: 400px;
	justify-content: center;
	align-items: center;
}

.signUp-content {
	background-color: #3882F6;
	display: flex;
	align-items: center;
	gap: 160px;
	color: white;
	padding: 60px 120px;
	border-radius: 10px;
}

.signUp-text {
	font-size: 20px;
	font-weight: 700;
}

.signUp-button {
	background-color: #3882F6;
	color: white;
	border-color: white;
	padding: 8px 16px;
	width: 125px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
}

.footer {
	background-color: #1f2937;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 50px;
}